@model IEnumerable<Dimension_Data.Models.EmployeeData>
@{
    ViewData["Title"] = "Data Analytics";
    Layout = "empNav";
}
<h1 class="pb-5">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">

      
        <div class="card shadow">
            <div class="card-header bg-secondary">
                <h4>Total Employees </h4>
            </div>
            <div class="card-body text-center text-dark">
                <span class="card-title"><i class="fa fa-users fa-3x" aria-hidden="true"></i></span>
                <h3 class="card-text pt-2">@ViewBag.count</h3>
            </div>
            <h5 class="text-center">Employees per gender</h5>
            <canvas id="myChart"> </canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-header bg-secondary">
                <h4>Number of departments </h4>
            </div>
            <div class="card-body text-center text-dark">
                <span class="card-title"><i class="fa fa-building fa-3x" aria-hidden="true"></i></span>
                <h3 class="card-text pt-2">@ViewBag.depart</h3>
            </div>
            <h5 class="text-center">Employees per department</h5>
            <canvas id="barChart"> </canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow" >
            <div class="card-header bg-secondary">
                <h4>Marital Status </h4>
              
            </div>
            <div class="card-body text-center text-dark ">
                <span class="card-title"><i class="fa fa-heart fa-3x" aria-hidden="true"></i></span>
                <h3 class="card-text pt-2">X</h3>
            </div>
            <h5 class="text-center">Employees per marital status</h5>
            <canvas id="vChart"> </canvas>
        </div>
    </div>
    
</div>
<div class="row pt-5 pb-5">
    <div class="col-md-6">
        <canvas  id="ageChart"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="jobRole" ></canvas>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">


    let ctx = "myChart";
    let pieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Male', 'Female'],
            datasets: [{

                data: [@ViewBag.male, @ViewBag.female],
                backgroundColor: ['#16697a','#e6739f']
            }]
        },


    });

    let ctix = 'barChart';
    let barChart = new Chart(ctix, {
        type: 'pie',
        data: {
            labels: ["Sales", "Research & Dev", "HR"],
            datasets: [{
               label: "Employees",
                data: [@ViewBag.sales, @ViewBag.rd, @ViewBag.hr],
                backgroundColor: ["#f05454", "#30475e", '#556052']
            }]
        }
    });

    let msts = 'vChart';
    let vChart = new Chart(msts, {
        type: 'pie',
        data: {
            labels: ["Married", "Single", "Divorced"],
            datasets: [{
               label: "Employees",
                data: [@ViewBag.married, @ViewBag.divorce, @ViewBag.single],
                backgroundColor: ["#8f384d", "#5c6e91", '#dd9866']
            }]
        }
    });

    let ageGroup = 'ageChart';
    let ageChart = new Chart(ageGroup, {
        type: 'bar',
        data: {
            labels: ["< 21", "22 - 31", "32 - 40", "41 - 50", ">51"],
            datasets: [{
                label: "Employees by age group",
                data: [@ViewBag.below21, @ViewBag.below31,@ViewBag.below41,@ViewBag.below51,@ViewBag.above51],
                backgroundColor: ["#202040", "#543864", "#ff6363", "#fdcb9e","#34495e" ]
            }]
        }
    });

    let jobRole = 'jobRole'
    let jobChart = new Chart(jobRole, {

        type: 'horizontalBar',
        data: {
            labels: ["Sales Representative", "Managers", "Healthcare Representative", "Laboratory Technician", "Sales Executive", "Manufacturing Director", "Human Resources", "Research Director", "Research Scientist"],
            datasets: [{
                label: "Employees by their roles",
                data: [@ViewBag.saleRep,@ViewBag.manager,@ViewBag.health,@ViewBag.lab,@ViewBag.saleEx,@ViewBag.manufa,@ViewBag.humanR,@ViewBag.researchD,@ViewBag.researchS],
                backgroundColor: ["#4e89ae", "#43658b", "#1d2d50", "#1e5f74", "#133b5c", "#ed6663", "#ffa372", "#c3aed6", "#5d54a4"]
            }]
        }
    });

</script>