@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 pt-4">
       
        <div class="card shadow ">
            
            <div class="card-body">
                <div class="text-center pb-3">
                    <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                    <h2 class="card-title">@ViewData["Title"]</h2>
                </div>
                <form id="account" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                       
                        <input placeholder="Enter your email" asp-for="Input.Email" class="form-control border-top-0 border-left-0 border-right-0 " />
                      
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <input placeholder="Enter your password" asp-for="Input.Password" class="form-control  border-top-0 border-left-0 border-right-0 " />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn form-control btn-block btn-outline-success">Log in</button>
                    </div>
                    <div class="form-group">
                        <p class="text-right">
                            <a id="forgot-password" class="card-link " asp-page="./ForgotPassword">Forgot password?</a>
                        </p>
                        
                    </div>
                    <div class="text-center pt-3">
                        <p>Don't have an account?</p>
                            <a class="btn btn-danger " asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
